<div style="margin:auto;background-color:skyblue;height:60px;border:1px solid white; text-align:center;padding-top:1%;font:17px sans-serif;"><a >Master the wealth-building power of real estate investing - Enroll in Roofstock Academy today!</a></div>
<div class="container">
  
<app-nav-bar></app-nav-bar>
<div style="margin-top:20px">
<button>All</button> 
<button>Minimal Repairs</button> 
<button>2-4 Units</button> 
<button>Higher Yield</button> 
<button>1% Rule</button>
<button>Best Schools</button>  
<button>Higher Appreciation</button> 
</div>
<router-outlet></router-outlet>
</div>
